/*========Google Fonts=======*/
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* General Styles */
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body{
	background-image: url(bg.png);
	font-family: "Lato", sans-serif;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  overflow: hidden;
}

/* Color Variables */

:root{
  --bg-color: #f7f6e0;
  --black-color: #000000;
  --white-color: #ffffff;
  --main-color: #9e2b07;
  --brown-color: #8c5c2f;
  --light-color: #c87a19;
  --glass-bg: rgba(255, 255, 255, 0.1);
  --h1-font:  "Allura", cursive;
}

header{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px 5%;
  display: flex;
  align-content: space-between;
  align-items: center;
  transition: all .6s ease;
}

.logo img{
  width: 40%;
}

.navbar-container{
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar{
  display: flex;
  gap: 25px;
}

.navbar.show{
  display: flex;
}

.navbar a{
  position: relative;
  text-decoration: none;
  color: var(--brown-color);
  font-size: 1rem;
  padding: 8px 0;
  transition: color 0.3s;
}

.navbar a::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.navbar a:hover::before{
  width: 100%;
}

.navbar a:hover{
  color: var(--main-color);
}

.social-icons{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.social-icons a{
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .5s ease;
}

.social-icons a:hover{
  background-color: var(--light-color);
}

.menu-icon{
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  height: 80vh;
  position: relative;
}

.hero .content{
  max-width: 500px;
  margin-top: 70px;
}

.hero h1{
  font-size: 10rem;
  color: var(--main-color);
  font-weight: 300;
  font-family: var(--h1-font);
}

.hero h5{
  color: var(--brown-color);
  margin-top: -60px;
  padding-left: 280px;
  font-size: 1rem;
  letter-spacing: .4rem;
  text-transform: uppercase;
}

.hero h3{
  margin-top: 15px;
  font-size: 1.7rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.hero p{
  color: var(--brown-color);
  margin: 20px 0;
}

.hero button{
  background-color: transparent;
  color: var(--main-color);
  border-radius: 5px;
  border: 2px solid var(--main-color);
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  transition: color 0.4s ease;
}

.hero button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  z-index: 0;
  transition: width 0.4s ease;
}

.hero button:hover::before{
  width: 100%;
}

.hero button:hover{
  color: var(--white-color);
}

.hero button span{
  position: relative;
  z-index: 1;
}

.falling-leaves{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

.leaf{
  position: absolute;
  top: -10%;
  left: 50%;
  width: 50px;
  height: 50px;
  animation: fall linear infinite;
  transform-origin: top center;
  opacity: 0.8;
}

.leaf1{
  background: url(img1.webp) no-repeat center/contain;
  animation-duration: 8s;
  animation-delay: 0s;
  left: 10%;
}

.leaf2{
  background: url(img2.png) no-repeat center/contain;
  animation-duration: 10s;
  animation-delay: 2s;
  left: 20%;
}

.leaf3{
  background: url(img3.png) no-repeat center/contain;
  animation-duration: 12s;
  animation-delay: 4s;
  left: 30%;
}

.leaf4{
  background: url(img4.webp) no-repeat center/contain;
  animation-duration: 9s;
  animation-delay: 1s;
  left: 40%;
}

.leaf5{
  background: url(img5.png) no-repeat center/contain;
  animation-duration: 7s;
  animation-delay: 3s;
  left: 50%;
}

.leaf6{
  background: url(img6.png) no-repeat center/contain;
  animation-duration: 11s;
  animation-delay: 3s;
  left: 60%;
}

.leaf7{
  background: url(img7.webp) no-repeat center/contain;
  animation-duration: 10s;
  animation-delay: 5s;
  left: 70%;
}

.leaf8{
  background: url(img8.png) no-repeat center/contain;
  animation-duration: 9s;
  animation-delay: 2s;
  left: 80%;
}

@keyframes fall{
   0%{
    transform: translateY(0) rotate(0deg);
   }
   100%{
    transform: translateY(120vh) rotate(360deg);
   }
}

@media (max-width: 768px) {
  body{
    background-size: contain;
    background-position: bottom;
  }

  .navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--glass-bg);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 100px;
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: right 0.5s ease;
    z-index: 9999;
  }

  .navbar a{
    font-size: 1.9rem;
    margin: 15px 0;
    color: var(--black-color);
    text-align: center;
  }

  .navbar.active{
    right: 0;
  }

  .menu-icon{
    display: block;
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease;
  }

  .logo img{
    width: 70%;
  }

  header{
    padding: 15px 5%;
  }

  .hero{
    padding: 300px;
    height: 100vh;
    flex-direction: column;
  }
   
  .hero .content{
    padding: 0 5px;
    margin-top: 20px;
  } 

  .hero h1{
    font-size: 9.8rem;
    margin-top: -30px;
  }

  .hero h5{
    padding-left: 0;
    margin-top: -30px;
  }

  .hero h3{
    margin-top: 10px;
  }

  .hero p{
    font-size: 1.2rem;
  }

  .hero button{
    padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .hero h1{
    font-size: 3rem;
  }
  .hero h3{
    font-size: 1.2rem;
  }
  .hero .content{
    padding: 0 10px;
    margin-top: 10px;
  }
  .hero h5{
    font-size: 0.8rem;
    margin-top: -20px;
  }
  .hero p{
    font-size: 0.9rem;
  }
  .hero button{
    padding: 6px 12px;
    font-size: 0.9rem;
  }
}